@import "fonts.css";
@import "base.css";
@import "header-footer.css";
@import "bricks.css";

/*------------------------*/
/* theme colors
/*------------------------*/

:root {
    --textDarker: #000341;
    --textDark: rgba(0, 3, 65, 1);
    --textMedium: rgba(0, 3, 65, 1);
    --borderMedium: rgba(0, 3, 65, 0.2); 
    --borderLight: rgba(0, 3, 65, 0.075);
    --accent: #cd5c5c;
    --accentDarker: #000341;
    --light: rgba(38, 50, 56, 0.035);
}
/*------------------------*/
/* turn grayscale off
/*------------------------*/

img {filter: grayscale(0);}

/*------------------------*/
/* colorize_image
/*------------------------*/

.colorize_image {filter: contrast(1) sepia(1) hue-rotate(160deg) grayscale(0.8)!important;}

/*------------------------*/
/* black_2_textDark
/*------------------------*/

.map::after, .black_2_textDark {filter: contrast(0.24) sepia(1) hue-rotate(207deg) contrast(3) brightness(.9) !important;}

/*------------------------*/
/* black_2_textMedium
/*------------------------*/

.black_2_textMedium {filter: contrast(0.24) sepia(1) hue-rotate(207deg) contrast(6) brightness(2) !important;}

/*------------------------*/
/* black_2_accent
/*------------------------*/

.black_2_accent {filter: contrast(0.24) sepia(1) hue-rotate(306deg) contrast(3) brightness(1.2) !important;}
